header{
    width: 100%;
    height: 100vh;
    background-color: $colorPrimary;

    nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .logo{
            width: 80px;
            margin-left: 20px;
        }

        .bar-btn{
            font-size: $textMedium;
            color: $colorSecundary;
            margin-right:20px;
            cursor: pointer;
        }
        
        .nav-menu {

           
            position: fixed;
            width: 100%;
            height: 0vh;
            top: 100px;
            text-align: center;
            transition: all .5s;
            background:rgba(97, 97, 209, 0.815);
            
            li{
                display: none;
                line-height: 30px;
                margin: 50px 0;
                transition: all .5s;

                a{
                    color: $colorSecundary;
                    font-size: $textBase;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

        }
    
    }
    
    .nav-menu li a .active, .nav-menu li a:hover{
        color: $colorPrimary;
        transition: .3s;

    }

    #check {
        display: none;
    }
    
    #check:checked ~ .nav-menu {
        height: 100vh;

        li{
            display: block;
            color: $colorSecundary;
            
        }

    }

    .banner-text{
        padding: 0 30px;
        margin-top: 150px;
        text-align: center;
        color: $colorSecundary;

        h1{
            font-size: 50px;
            margin-bottom: 30px;

            span{
                color: $colorComplementary;
            }
            
        }

        h2{
            font-size: 16px;
            font-weight: 600;
            
        }
    }
}

@media only screen and (min-width:768px){

    header{

        
        nav {
            height:100px;
            // border: 1px solid red;
            
            .logo {
                margin-left: 50px;
            }

            .bar-btn{
                display: none;
            }

            .nav-menu {
                position: absolute;
                height: 100px;
                top: 0;
                background: none;
                transition: none;
                text-align: right;
                margin-right: 50px;
                
                
                li {
                    
                    display: inline-flex;
                    flex-wrap: wrap;
                    gap: 7px;                
                    line-height: 100px;
                    margin: 0 20px;
                    transition: none;
                    
                    a {
                        font-size: 12px;
                        color: $colorSecundary;
                    }
                }
            }

        }
        
        .banner-text{
        
            h1{
                font-size: 70px;
                margin-bottom: 30px;
            }
            
            h2{
                font-size: 20px;
            }

        }
    }

}